html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #1e1e1e;
  touch-action: none;
}

.xterm-helper-textarea {
  caret-color: transparent;
}

.xterm.terminal {
  user-select: text;
  -webkit-user-select: text;
}
